@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Baby-blue: #DBE4EF;
  --Azul-Dark: #041832;
  --Cinza-claro: #EDF0F4;
  --Cinza-medio: #8F8F8F;
  --Cinza: #444;
  --banner: #15163A;
  --bg : #c3e4ff;
  --fonte-montserrat: "Montserrat Alternates", sans-serif;
  --fonte-urbanist:  "Urbanist", sans-serif;
  --azul-claro: #a7d4ff;
}

body {
  background: var(--bg);
  font-family: var(--fonte-urbanist);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 120px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 280vh;
  box-sizing: border-box; 
}

.overlay-color {
  background-color: #F4F4F4;
}


header {
  padding: 60px 240px 150px 360px;
  background: var(--banner);
}

button{
  background-color: transparent;
  border: none;
}

.conteudo-cabecalho {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

header .logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header .logo img {
  max-width: 200px;
}

header .logo h1 {
  color: var(--Baby-blue, #DBE4EF);
  font-family: var(--fonte-montserrat);
  align-self: center;
  font-size: 2rem;
  font-weight: 300;
}

.imagem-cabecalho img{
  max-width: 400px;
}

footer {
  padding: 32px 360px;
  background: var(--banner);
  color: var(--Baby-blue, #DBE4EF);
  text-align: center;
  width: 100%;
  position: relative;
  left: 0;
}

h2, h3 {
  color: var(--Azul-Dark, #041832);
  text-align: center;
  font-size: 1.9rem;
  font-family: var(--fonte-montserrat);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#form-container {
  display: flex;
  padding: 48px 40px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: center;
  justify-content: center;
  border-radius: 16px;
  background: #f0f4fdbe;
  box-shadow: 8px 8px 20px 0px rgba(4, 24, 50, 0.08);
  width: 100%;
  max-width: 712px;
  margin-top: 40px;
}

 #pensamento-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#pensamento-conteudo, #pensamento-autoria {
  padding: 16px;
  border-radius: 8px;
  background: var(--bg);
  font-family: var(--fonte-urbanist);
  word-wrap: break-word; 
  color: var(--Azul-Dark);
  overflow-wrap: break-word; 
}

#pensamento-form label {
  margin-bottom: 16px;
  color: var(--Azul-Dark, #041832);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#pensamento-conteudo::placeholder,  #pensamento-autoria::placeholder{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#pensamento-form textarea,
#pensamento-form input {
  margin-bottom: 24px;
  outline: none;
  border-style: none;
  font-size: 20px;
}

.form-botoes {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 16px;
} 

#botao-salvar, #botao-cancelar {
  padding: 8px 32px;
  border-radius: 32px;
  color: var(--Baby-blue, #DBE4EF);
  font-family: var(--fonte-montserrat);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#botao-salvar {
  background: var(--Azul-Dark, #041832);
  min-width: 160px;
  border: none;
}

#botao-cancelar {
  color: var(--Azul-Dark, #041832);
  border: 3px solid var(--Azul-Dark);
  background: transparent;
}

button:hover { 
  transform: scale(1.05);
}

#lista-pensamentos-container {
  width: 60%;
  max-width: 1200px;
  margin: 40px 0;
}

#lista-pensamentos-container h3 {
  text-transform: uppercase;
  font-family: var(--fonte-urbanist);
  font-weight: 800;
}

#lista-pensamentos {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;
  margin-top: 50px;
}

.li-pensamento {
  position: relative;
  padding: 16px;
  border-radius: 10px;
  background: var(--azul-claro);
  box-shadow: 8px 8px 0px 0px var(--banner);
  flex: 1 1 calc(33% - 24px);
  max-width: calc(33.33% - 24px);
  min-width: 200px;
  min-height: 315px; 
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  color: #0B1624;
}

.icone-aspas {
  position: absolute;
  top: 20px;
  left: 12px;
  width: 50px;

}

.pensamento-conteudo, .pensamento-autoria {
  margin-left: 20px; 
  font-family: var(--fonte-urbanist);
  font-style: normal;
  line-height: normal;
  margin-bottom: 16px; 
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.pensamento-conteudo {
  margin-top: 96px; 
  font-size: 1.1rem;
  font-weight: 500;
}

.pensamento-autoria {
  font-size: 1.2rem;
  font-weight: 700;
}

.icones {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.botao-editar, .botao-excluir {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  margin-left: 8px;
}

.botao-editar img, .botao-excluir img {
  width: 20px;
  height: 20px;
}

span {
  width: 180px;
  height: 1px;
  background: #041832;
  margin: 96px 0 48px 0;
}

.mural-vazio{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  gap: 4rem;
}

.mural-vazio h2{
  margin-top: 3rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.mural-vazio img{
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
}

.hidden{
  display: none;
}